<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
    <h1>Add New Account</h1><br/><br/>
    <form action="/account/insert" method="get">
        Account Name: <input id="account_name" name="account_name" type="text" /><br/>
        Email: <input id="email" name="email" type="text" /><br/>
        <br />
        Games owned

        <select id="game_id" name="game_id" multiple="multiple">
            <% for(var i=0; game.length > i; i++ ) { %>
                <option value="<%= game[i].game_id %>"><%= game[i].game_name %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#game_id').multiselect();
            });
        </script>


        <br /><br />
        <input type="submit" />

    </form>

<br/><a href="/account/all"> << back </a> <br/>

<%- include("../includes/footer.ejs"); %>