<%- include("../includes/header.ejs", {title:"Accounts"}); %>
    <h1>Accounts</h1>
    <ul>
        <li><b>Account Name:</b> <%= result[0].account_name %></li>
        <li><b>Email: </b><%= result[0].email %></li>
        <li>Games owned</li>

        <table border="1">
            <tr><th>Game Name</th><th>Hours played</th></tr>

            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].game_name %></td>
                <td style="text-align: right"><%= result[i].hours_played %></td>

            </tr>
            <% } %>
        </table>
    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>