<!DOCTYPE html>
<html style="position:relative; min-height:100%">
<head>
    <title><%= title %></title>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

    <style>
        header, footer {
            padding: 1em;
            color: black;
            background-color: #cce5ff;
            clear: left;
            text-align: left;
        }
        footer {
            background-color: #cce5ff;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 70px;
            width: 100%;
            overflow:hidden;
        }
        h1 {
            display:inline;
        }
        #container {
            height:100%;
            min-height: 100%;
            position: relative;
        }
        #header {
            background:#ff0;
            padding:10px;
        }
        #body {
            padding:10px;
            padding-bottom:60px;    /* height of footer*/
        }
        #footer {
            position:absolute;
            bottom:0;
            width:100%;
            height:40px;   /* Height of the footer */
            background:#6cf;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }
        th, tr, td {
            padding-left: 5px;
            padding-top: 3px;
            padding-right: 5px;
            padding-bottom: 3px;
        }
    </style>
</head>

<header><h1>Project 2</h1></header>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/account/all">Account</a>
    <a href="/game/all">Game & Review</a>
    <a href="/company/all">Company</a>
    <a href="/tag/all">Tag</a>
    <a href="/about">About</a>
</div>


<body style="background-color:#fef7e7">
<div style="margin-left:40px; margin-top:20px; margin-bottom:100px">