<%- include("../includes/header.ejs", {title:"Tag - View All"}); %>

<h1>Tags</h1><br/><br/>
<a href="/tag/add">Add New Tag</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/tag/?tag_id=<%= result[i].tag_id %>"><%= result[i].tag_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/tag/edit/?tag_id=<%= result[i].tag_id %>'">Edit</button>
            <form action="/tag/delete/" style="display:inline;">
                <input type="hidden" name="tag_id" id="tag_id" value="<%= result[i].tag_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>