<%- include("../includes/header.ejs", {title:"Tags"}); %>
<h1>Tags</h1>
<ul>
    <li><b>Tag Name:</b> <%= result[0].tag_name %></li>

    <% if (result[0].game_name != null) { %>
    <li>Games</li>
        <table border="1">
            <tr><th>Game Name</th><th>Multiplayer</th><th>Rating</th><th>Release Date</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].game_name %></td>
                <td><%if (result[0].multiplayer == 1) {%> TRUE <% } else { %> FALSE <% } %></td>
                <td style="text-align: right"><%= result[i].avg_rating %></td>
                <td><%= result[i].release_date %></td>

            </tr>
            <% } %>
        </table>
    <% } else { %>
    <li>No Games with that Tag</li>
    <% } %>


</ul>

<a href="/tag/all"><< back</a>

<%- include("../includes/footer.ejs"); %>