<%- include("includes/header.ejs", {title:"About"}); %>

<h1>About</h1><br/><br/>

<p>
    The purpose of this site, is to help organize information around games, the companies
    who develop and publish those games, as well as the players who enjoy said games.
    For example, we collect information about a player (account), which includes their account
    name A.K.A "gamer tag", the games they have played and how many hours they have spent playing those games

    <br/><br><b>Author: </b><ins>Erik Brownell</ins>
</p>

<br />
<h4><b>ER Diagram</b></h4><br/>
<img src="/images/project_er.png" alt="Mountain View" width="800" height="692"><br/><br/><br/><br/>
<h4><b>Relational Schema</b></h4><br/>
<img src="/images/project_relationalschema.png" alt="Mountain View" width="800" height="680">

<!--
<table>
    <tr><th>ER Diagram</th><th>Relational Schema</th></tr>
    <tr>
        <td><img src="/images/project_er.png" alt="Mountain View" width="800" height="692"></td>
        <td><img src="/images/project_relationalschema.png" alt="Mountain View" width="800" height="680"></td>
    </tr>
</table>
-->

<%- include("includes/footer.ejs"); %>