<%- include("./includes/header.ejs", {title: title}); %>

    <h1>Welcome to the My Database</h1><br/>

    <h3>
        We have loads of information on various games, and companies that you may be curious about<br/>
        So go ahead, take a look around.
    </h3>


<%- include("./includes/footer.ejs"); %>
