<%- include("../includes/header.ejs", {title:"Game - View All"}); %>

<h1>Games</h1><br/><br/>
<a href="/game/add">Add New Game</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Year</th><th>Rating</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/game/?game_id=<%= result[i].game_id %>"><%= result[i].game_name %></a></td>
        <td><a href="/game/?game_id=<%= result[i].game_id %>"><%= result[i].release_year %></a></td>
        <td style="text-align: center"><a href="/game/?game_id=<%= result[i].game_id %>"><%= result[i].avg_rating %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/game/edit/?game_id=<%= result[i].game_id %>'">Edit</button>
            <form action="/game/delete/" style="display:inline;">
                <input type="hidden" name="game_id" id="game_id" value="<%= result[i].game_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>