<%- include("../includes/header.ejs", {title:"Games"}); %>
<h1>Games</h1>
<ul>
    <li><b>Game Name:</b> <%= result[0].game_name %></li>
    <li><b>Multiplayer: </b><%if (result[0].multiplayer == 1) {%> TRUE <% } else { %> FALSE <% } %></li>
    <li><b>Release date:</b> <%= result[0].release_date %></li>
    <li><b>Publisher: </b><%= result[0].publisher %></li>
    <li><b>Developer: </b><%= result[0].developer %></li>
    <li>Reviews</li>

    <table border="1">
        <tr><th>Player Name</th><th>Hours played</th><th>Rating</th><th>Feedback</th><th>Date</th></tr>

        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].account_name %></td>
            <td style="text-align: right"><%= result[i].hours_played %></td>
            <td style="text-align: right"><%= result[i].rating %></td>
            <td><%= result[i].feedback %></td>
            <td><%= result[i].review_date %></td>
        </tr>
        <% } %>
    </table>
</ul>

<a href="/game/all"><< back</a>

<%- include("../includes/footer.ejs"); %>