<%- include("../includes/header.ejs", {title:"Companies"}); %>
    <h1>Companies</h1>
    <ul>
        <li>Company Name: <%= result[0].company_name %></li>
        <li>Founded in <%= result[0].year_founded %></li>


        Projects:
        <table border="1">
            <tr><th>Game Title</th><th>Year Released</th><th>Rating</th><th>Developed</th><th>Published</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].game_name %></td>
                <td style="text-align: right"><%= result[i].year %></td>
                <td style="text-align: right"><%= result[i].rating %></td>
                <td><% if (result[i].developer == 1) { %>yes<%} else {%> no <%}%></td>
                <td><% if (result[i].publisher == 1) { %>yes<%} else {%> no <%}%></td>
            </tr>
            <% } %>
        </table>

    </ul>

<a href="/company/all"><< back</a>

<%- include("../includes/footer.ejs"); %>