<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
    <h1>Add New Company</h1>
    <form action="/company/insert" method="get">
        Company Name: <input id="company_name" name="company_name" type="text" /><br/><br/>

        Year founded:
        <select id="year_founded" name="year_founded">
            <% for(var i=2017; i > 1950; i--) { %>
                <option  value="<%= i%>"><%= i %></option>
            <% } %>
        </select><br/><br />


        <input type="submit" />

    </form>
    <br />
    <a href="/company/all"> << back</a>

<%- include("../includes/footer.ejs"); %>